.TrHeaders {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83.5vw;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  background-color: #f5f6fa;

  p {
    color: #9b9b9b;
  }
}

.Tr {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83.5vw;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
}
